<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFrag">
    <head>

        <meta charset="UTF-8">
        <title>Title</title>
        <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body>
    <section class="container mx-auto">
        <header>
    <div class="navbar bg-primary text-primary-content flex">
        <div><a class="btn btn-ghost normal-case text-xl" th:href="@{/question/list}">Spring-boot</a></div>
        <div class="flex-grow"></div>
        <div><a class="" th:href="@{/user/signup}">회원가입</a></div>
    </div>
        </header>
</th:block>
</html>