<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/default_layout}">
<th:block layout:fragment="content" class="heightFull">
    <main class="container mx-auto my-3 heightFull">

    <h2 th:text="${question.subject}" class="text-3xl"></h2>

    <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">content</h2>
            <p th:text="${question.content}"></p>
            <div>
                <p th:if="${question.modifyDate!=null}"th:text="|수정날짜 : ${#temporals.format(question.modifyDate,'yyyy년 MM월 dd일 HH시 mm분')}|"></p>
                <p th:text="|생성날짜 : ${#temporals.format(question.createDate,'yyyy년 MM월 dd일 HH시 mm분')}|"></p>

            </div>
            <div>
                <a class="btn btn-accent" th:href="@{|/question/modify/${question.id}|}" sec:authorize="isAuthenticated()" th:if="${question.author.username==#authentication.getPrincipal().getUsername()}">질문수정</a>

                <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/question/delete/${question.id}|}"
                   class="btn btn-accent" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"  class="text-lg mt-3"></h5>
            <div class="card w-full bg-base-100 shadow-xl" th:each="answer,loop : ${question.answerList}">
                <div class="card-body">
                    <h2 class="card-title" th:text="|${loop.count}번 답변|"></h2>
                    <p th:text="${answer.content}"></p>
                    <div>
                        <p th:if="${question.author!=null}" th:text="${question.author.username}"></p>
                        <p th:if="${answer.modifyDate!=null}" th:text="|수정날짜 : ${#temporals.format(answer.modifyDate,'yyyy년 MM월 dd일 HH시 mm분')}|"></p>
                        <p th:text="|생성날짜 : ${#temporals.format(answer.createDate,'yyyy년 MM월 dd일 HH시 mm분')}|"></p>
                    </div>
                    <div>
                        <a th:href = "@{|/answer/modify/${answer.id}|}"  class="btn btn-accent" sec:authorize="isAuthenticated()"
                           th:if="${answer.author!=null and #authentication.getPrincipal().getUsername()==answer.author.username}" th:text="답변수정"></a>
                        <a onclick = "if ( !confirm('정말로 삭제하시겠습니까?') ) return false;"  th:href = "@{|/answer/delete/${answer.id}|}" class="btn btn-accent" sec:authorize="isAuthenticated()"
                           th:if="${answer.author!=null and #authentication.getPrincipal().getUsername()==answer.author.username}"
                           th:text="답변삭제"></a>
                    </div>

                </div>
            </div>
     <form method="POST" th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}">
         <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="textarea textarea-secondary" rows="15" ></textarea>
    <textarea sec:authorize="isAuthenticated()"  th:field="*{content}" rows="15" class="textarea textarea-secondary" placeholder="답변을 등록해주세요"></textarea>
         <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert_errors"></div>
         <button class="btn btn-accent"  type="submit">답변등록</button>
     </form>
    </main>
</th:block>
</html>