<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/default_layout}">
<th:block layout:fragment="content">
    <h1 th:text="|제목 : ${question.subject}|"></h1>
    <div th:text="|날짜 : ${#temporals.format(question.createDate,'yyyy년 MM월 dd일')}|"></div>
    <div th:text="|내용 : ${question.content}|"></div>

    <div>
     <form method="POST" th:action="@{|/answer/create/${question.id}|}">
    <textarea name="content" rows="15" class="textarea textarea-secondary" placeholder="답변을 등록해주세요"></textarea>
     <div>
         <button  class="btn btn-active" type="submit">답변등록</button>
     </div>
     </form>
    </div>
</th:block>
</html>