<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/default_layout}">
<th:block layout:fragment="content" class="heightFull">
    <main class="container mx-auto my-3 heightFull">

    <h2 th:text="${question.subject}" class="text-3xl"></h2>

    <div class="card w-full bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">content</h2>
            <p th:text="${question.content}"></p>
            <div>
                <p th:text="${#temporals.format(question.createDate,'yyyy년 MM월 dd일 HH시 mm분')}"></p>
            </div>
        </div>
    </div>

    <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"  class="text-lg mt-3"></h5>
            <div class="card w-full bg-base-100 shadow-xl" th:each="answer,loop : ${question.answerList}">
                <div class="card-body">
                    <h2 class="card-title" th:text="|${loop.count}번 답변|"></h2>
                    <p th:text="${answer.content}"></p>
                    <div>
                        <p th:text="${#temporals.format(answer.createDate,'yyyy년 MM월 dd일 HH시 mm분')}"></p>
                    </div>
                </div>
            </div>
     <form method="POST" th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}">
         <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="textarea textarea-secondary" rows="15" ></textarea>
    <textarea sec:authorize="isAuthenticated()"  th:field="*{content}" rows="15" class="textarea textarea-secondary" placeholder="답변을 등록해주세요"></textarea>
         <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert_errors"></div>
         <button class="btn btn-accent"  type="submit">답변등록</button>
     </form>
    </main>
</th:block>
</html>