<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/default_layout}">
<th:block layout:fragment="content" >
    <main class="heightFull container mx-auto" >
        <div class="overflow-x-auto">
            <table class="table w-full">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="question,loop : ${paging}">
        <td th:text="${paging.getTotalElements - (paging.number*paging.size) - loop.index}"></td>
        <td><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                <span class="text-sm text-white bg-indigo-500 rounded-full p-0.5" th:if="${#lists.size(question.answerList)>0}" th:text="${#lists.size(question.answerList)}"></span>
        </td>
            <td><span th:if="${question.author!=null}" th:text="${question.author.username}"></span></td>
            <td><a th:text="${#temporals.format(question.createDate,' yyyy년 MM월 dd일 HH시 mm분')} "></a></td>
    </tr>
    </tbody>
            </table>
        </div>

        <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>

    <div class="btn-group flex justify-center">
        <div th:each="number: ${#numbers.sequence(1,paging.totalPages)}" th:if="${number>=paging.number-4 and number<=paging.number+6}"th:classappend="${number-1 == paging.number} ? ' btn btn-active  ' : ' btn '">
            <a class=" w-5 "   th:text="${number}" th:href="@{|?page=${number-1}|}" ></a>
        </div>
    </div>

    </main>
</th:block>
</html>